<% iterate @book_headers do |name, book_h1| %><%- next if book_h1.include_in_toc == false %>
  <div>
    <b><a href="<%= default_version_target %>"><%= version_folder %><%= book_h1.toc_title %></a></b><% expanded_items.each do |h2| %>
      <a href="#<%= h2.id %>"><%= h2.title %></a><% end %>
  </div>
<% end %>
